---
layout: false
---

!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Alli &amp; Eric - 6/21/2014
    = stylesheet_link_tag "all.css"
    = yield_content :head
    /[if lte IE 8]
      %script{ :src => "javascripts/html5.js" }

    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3017481-4', 'allianderic.com');
      ga('send', 'pageview');

  %body{ :class => page_classes }
    #container
      %header
        = image_tag "main.jpg", :width => 950, :alt => "Alli and Eric"
        %h1 Alli &amp; Eric
        %time 6/21/2014
      .left-col
        %section.places
          / %h2 Locations
          %ul.links
            %li.active
              %a{:href => '#ceremony'} Ceremony
            %li
              %a{:href => '#rehearsal'} Rehearsal Dinner
            %li
              %a{:href => '#accommodations'} Accommodations
            %li
              %a{:href => '#recreation'} Recreation

          %ul.content
            %li#ceremony.active
              = image_tag 'grandview1.jpg'
              %p
                The ceremony and reception will take place at
                %a{:href => "http://www.grandviewlodge.com/pages/Directions/", :target => "blank"} Grand View Lodge
                in Nisswa MN.
              %p
                Grand View Lodge is located 140 miles northwest of Minneapolis, located on the beautiful Gull Lake.
                There will be parking available for guests not staying on-site, and shuttles for guests staying anywhere on the Grand View property.

              %p
                The ceremony will take place on the Grand View Staircase, immediately followed by a reception at the Heritage Center.

            %li#rehearsal
              = image_tag 'grandview2.jpg'
              %p
                The rehearsal dinner will take place at <a href="http://www.grandviewlodge.com/pages/Freddys/" target="_blank">Freddy’s</a>, located on The Pines Golf Course at Grand View Lodge.
              %p
                Additional details for those attending will be sent in a formal invitation.

            %li#accommodations
              = image_tag 'grandview3.jpg'
              %br
              %p
                Guests can stay at Grand View or a number of other hotels in the area.
              %h4 Grand View
              %p.address 23521 Nokomis Ave, Nisswa, MN 56468
              %p
                If you would like to stay at Grand View Lodge, there is a 2-night minimum. Rooms book fast, so please book your room as soon as possible (beginning Monday, July 8th). Please note that some rooms and cabins require a meal plan, so inquire with Reservations about this at the time of booking. There are a number of lodging options from private rooms to large cabins. Call reservations at 1-800-432-3788 and reference the Euson/Eickhof wedding or visit their <a href="https://gc.synxis.com/rez.aspx?Hotel=53521&Chain=13083" target="_blank">website</a> to book your room.

              %h4 Country Inn and Suites Baxter
              %p.address 15058 Dellwood Dr, Baxter, MN 56425
              %p The Country and Inn and Suites is a 15 minute drive to Grand View Lodge, and does not require a 2-night minimum stay. Call 218-828-2161 to book your room. We have a room block for Saturday night the 21st, so please reference the Euson/Eickhof wedding when reserving your room. Visit their <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.countryinns.com%2Fbaxter-hotel-mn-56425%2Fmnbaxter&sa=D&sntz=1&usg=AFQjCNEi_q5QXxSEesMn9QIoPL6QtaPEBw" target="_blank"> website.</a>

              %h4 Holiday Inn Express Brainerd
              %p.address 15739 Audubon Way, Brainerd, MN 56401
              %p
                The Holiday Inn is located 10 miles south of Grand View off of Highway 371. Call reservations at 1-888-465-4329 or visit their <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/baxter/bwxbb/hoteldetail" target="_blank">website</a> to book your room.
              %h4 Personal Cabin Rentals
              %p
                If you are planning to stay with a large group, you could try personal home rental sites like <a href="http://www.vrbo.com/" target="_blank">vrbo.com</a>. This is an option for larger groups not wanting to stay on the Grand View property, but wanting a cabin-feel for their stay. Reference the address for Grand View Lodge to find a rental nearby.

            %li#recreation
              = image_tag 'grandview4.jpg'

              %p If you’re looking for things to do throughout the weekend, below are some options to keep you busy:

              %h4 Golf
              %p Grand View has incredible golf courses, rated in the top 100 in the country. Choose from three courses: The Pines, The Preserve, and the Garden. Check out their <a href="http://www.grandviewlodge.com/pages/ChampionshipGolf" target="_blank">website</a> for more information or to schedule a tee time.

              %h4 Boating & Fishing
              %p Enjoy the large chain of Gull Lakes by pontoon, jet ski, or speed boat. When booking your room at Grand View, inquire about boat rentals if you are interested in getting out on the lake.

              %h4 Hiking & Biking
              %p Hop on the Paul Bunyon trail for an 100 mile stretch of running and cycling paths. If you are interested in renting bikes, check out <a href="http://trailblazerbikesmn.com/" target="_blank">TrailBlazer Bikes</a> located in downtown Nisswa.

              %h4 The Spa at Grand View
              %p If you’re looking to relax, book a massage or pedicure at the Glacier Waters Spa. You can visit their <a href="http://www.grandviewlodge.com/pages/GlacialWatersSpa" target="_blank">website</a> for more information and call 218-963-2234 to make an appointment.

              %h4 Shopping
              %p Visit downtown Nisswa, located just miles from Grand View, if you would like to visit local shops and restaurants.


        %section.registered
          %h2 Registry
          %p
            More info to come.



      .right-col
        %section.people

          %h2 About Us
          %p
            We met in 2009 at the University of Minnesota. We routinely sat next to each other in our International Business class, and Eric asked if I wanted to study for the final on the last day of class. I had of course already studied the entire semester’s worth of notes, but thought Eric was pretty cute so decided to meet him at the Purple Onion to “study” anyways. One month later we were practically together every day. Eric spent the next two summers working in North Dakota on his College Pro business, and I moved to Austin, Texas in 2011 for General Mills, but the distance never separated us. No matter the cost of the plane ticket or the time it took, we made an effort to see each other every three weeks. After the long wait, we are very happily together living in Southwest Minneapolis with our new dog Peanut. Having been to Ireland, England, and Croatia together, we love to travel, and look forward to exploring many new countries together. We think we were pretty lucky to find each other, and can’t wait for our life together ahead. Looking forward to celebrating with you next summer!

          %h2 Wedding Party
          %ul.links
            %li.active
              %a{:href => '#carolyn'}= image_tag "peeps/Carolyn.jpg", width: 60, height: 90
            %li
              %a{:href => '#amanda'}= image_tag 'peeps/Amanda.jpg', width: 60, height: 90
            %li
              %a{:href => '#lauren'}= image_tag 'peeps/Lauren.jpg', width: 60, height: 90
            %li
              %a{:href => '#megan'}= image_tag 'peeps/Megan.jpg', width: 60, height: 90
            %li.last
              %a{:href => '#brinn'}= image_tag "peeps/Brinn.jpg", width: 60, height: 90

            %li
              %a{:href => '#jack'}= image_tag "peeps/Jack.jpg", width: 60, height: 90
            %li
              %a{:href => '#matt'}= image_tag "peeps/Matt.jpg", width: 60, height: 90
            %li
              %a{:href => '#adrian'}= image_tag "peeps/Adrian.jpg", width: 60, height: 90
            %li
              %a{:href => '#alex'}= image_tag "peeps/Calof.jpg", width: 60, height: 90
            %li.last
              %a{:href => '#chad'}= image_tag "peeps/Chad.jpg", width: 60, height: 90

          %ul.content
            %li#carolyn.active
              %h3 Carolyn Euson, <em>Maid of honor</em>
              %p
                My mom has always said how lucky I am to have a sister and I would certainly agree. I remember as little girls, Alli was the perfect playmate- we played countless hours of Barbie, Frontier and Restaurant together.  As adults, I have continued to love spending time with Alli.  She is driven in all counts and having her as a workout partner has made me an avid biker, runner, swimmer and "yogi."  Lately, my best memories have not only been with just my sister but Alli, Eric and my husband Mike. I have loved our Holidays, dinners and cabin weekends together and am so excited for the many adventures that await us!




            %li#amanda
              %h3 Amanda Hahn
              %p
                I first met Alli Freshman year of college, in a terrifying line to enter the first sorority house during recruitment.  Alli’s designer taste was somehow able to see past my American Eagle blouse and Silver Jeans, because after joining Kappa together, we quickly became best friends.  Alli and I spent most Saturdays getting acquainted with the frat boys and every Sunday watching Desperate Housewives.  After all the years that we have been roommates, I have learned that Alli’s contagious energy is what I love most about her.  She is always up for a random afternoon dance party, a walk around the lake, or a late night run for fro-yo.  You can often find us talking in third person which typically leads to uncontrollable laughter.   I have had so much fun with Alli over the last 7 years and I am so happy that she is back in MN and starting her life with Eric. Hahnda love Goosey :)


            %li#lauren
              %h3 Lauren Eickhof
              %p
                When I met Alli for the first time I was so excited to meet this girlfriend my brother had been hiding. He would talk about how great she was, when we pestered him, but it took a while before Eric was willing to allow his family to meet his future bride. From the first time I met Alli I have seen her as an inspiration; her healthy lifestyle, intelligence, and beauty is something to admire. She has a contagious laugh and is a pleasure to be around. Eric has always made great decisions about things that are important in life; finding Alli and asking her to spend their lives together is the best decision I believe he has made yet. The teamwork and love I see between them is something that is a once in a lifetime love. To be around the two of them, it’s clear that they are meant to be! I am so happy that Alli is finally a part of the family in which we have considered her all along!

            %li#megan
              %h3 Megan Oelfke
              %p
                Goose and I met over 10 years ago but have really grown together in our friendship in the past few years. We are drawn to each other by having the same emotions about the majority of situations that occur in life. I love how much of a kick we can get out of each other and the rest of humanity. My favorite memory includes visiting Goose in Austin where she took me everywhere to try everything. Despite it taking her the full trip to admit she was a terrible driver, I valued the quality time we got to spend together, even if it meant feeling queasy on each adventure. God could not have picked a more perfect person than Eric to be with my friend for the rest of her life. I feel so blessed to be a part of this wedding and relationship for years & years to come!

            %li#brinn
              %h3 Brinn Friedrichs
              %p
                Alli and I met in 7th grade and she was, without a doubt, the most funny, independent, and unique middle school girl I had ever met. She can make me laugh for hours, and she makes the most ordinary things in life fun. Sometimes I find myself just thinking about something Alli said days or years ago, and I just burst out laughing. Alli is the most loyal friend, and encourages everyone around her to be who they truly are. And then there's Eric, who couldn't be greater for Alli. I'm so excited for this wedding, and even more importantly for their marriage!



            %li#jack
              %h3 Jack Eickhof, <em>Best Man</em>
              %p
                Of course Eric and I have been together since I was born in '95. But our 6 year age gap hasn't held us apart. Filling the role as my mentor in his high school years, Eric has taught me a lot. We also have several memories together, whether at the lake or in the mountains. And best of wishes to Alli and Eric. Many memories are to be made!


            %li#alex
              %h3 Alex Calof
              %p
                Eric and I met through College Pro Painters while we were in our first year owning a franchise.  That year Eric had started his business about a month before me.  I met him in our office in Minneapolis the first week into my business.  I was sitting in a room making phone calls to potential customers and Eric was doing the same.  All of a sudden I found myself getting a lot of "pointers" on how to improve my calls.  I thought to myself, this guy is a real "know it all" and he can't have much more experience than I do.  As time went on I realized how much Eric cared about helping people and that was what he was doing that day.  Our friendship evolved as we supported each other fighting similar battles as first year business owners.  It was always good to know that there was someone who understood the challenges in business and life in general; and who can always have a way of seeing the bright side in a situation.  I am excited to have a friend who is so supportive and am looking forward to celebrating the victories within both of our lives.  Time for the for the next chapter and Alli has been the perfect addition!



            %li#adrian
              %h3 Adrian Gonzales
              %p
                I have known Eric since we were Freshman at the U of M. We lived two doors down from each other in good ol’ T-Hall. He was a really nice guy and I was always mystified by his stories about living in North Dakota.  We continued to be friends throughout college and beyond. I’m going to be getting married in 2014 as well and I’m excited to have Eric in my wedding. I couldn't be happier for Eric and Alli and know they'll have a wonderful life together


            %li#chad
              %h3 Chad Olsen
              %p
                I remember meeting Eric for the first time at our fraternity at the U of M.  Ever since, Eric and I have been getting into trouble, doing business together and being fraternity brothers but most importantly… Eric is someone that will be one of my life-long friends.  Some of the best memories I have had with Eric is going to California for Spring Break, hitting up Miami together and growing up together in our college years. Eric is someone that I trust and look up to, and I always know that he will be true to himself and to others no matter the situation. I am so excited for both Eric and Alli and I know that the two of them are a perfect match for each other!



            %li#matt
              %h3 Matt Wunderlich
              %p
                I had the privilege of meeting Eric freshman year of college. We connected quickly and shared many of the same interests. Eric and I both joined the same fraternity and roomed together for two years with almost identical class schedules. We have taken snowboard trips together, and ran a marathon; Eric even convinced me to help him paint houses one summer in North Dakota! I am grateful to call Eric a friend, and wish him and Alli only the best. I am honored to be apart of their wedding and look forward to many more years of friendship.




            %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" }
            %script{ :src => "javascripts/app.js" }

