---
layout: false
---

!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Alli &amp; Eric - 6/21/2014
    = stylesheet_link_tag "all.css"
    = yield_content :head
    /[if lte IE 8]
      %script{ :src => "javascripts/html5.js" }

    %script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3017481-3']);
      _gaq.push(['_setDomainName', '.mikecarolyn.com']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{ :class => page_classes }
    #container
      %header
        = image_tag "", :width => 950, :height => 226, :alt => ""
        %h1 Alli &amp; Eric
        %time 6/21/2014
      .left-col
        %section.places
          / %h2 Locations
          %ul.links
            %li.active
              %a{:href => '#ceremony'} Ceremony
            %li
              %a{:href => '#rehearsal'} Rehearsal Dinner
            %li
              %a{:href => '#accommodations'} Accommodations

          %ul.content
            %li#ceremony.active
              %p
                The ceremony and reception will take place at
                %a{:href => "http://www.grandviewlodge.com/pages/Directions/", :target => "blank"} Grand View Lodge
                in Nisswa MN.
              = image_tag 'grandview1.jpg'
              %p
                Grand View Lodge is located 140 miles northwest of Minneapolis, located on the beautiful Gull Lake.
                There will be parking available for guests not staying on-site, and shuttles for guests staying anywhere on the Grand View property.

              %p
                The ceremony will take place on the Grand View Staircase, immediately followed by a reception at the Heritage Center.


            %li#rehearsal
              %p
                The rehearsal dinner will take place at
                %a{:href => "http://www.grandviewlodge.com/pages/Freddys/", :target => "_blank"} Freddy’s
                at Grand View Lodge.
              = image_tag 'grandview2.jpg'
              %p
                Located on The Pines Golf Course.
              %p
                Additional details for those attending will be sent in a formal invitation.

            %li#accommodations
              %p
                Guests can stay at Grand View, or at a number of other hotels in the area.
              = image_tag 'grandview3.jpg'
              %h4 Grand View
              %p
                If you would like to stay at Grand View Lodge, there is a 2-night minimum. Please also note that if you would like a room in the Main Lodge, you must purchase a meal plan, however there are several other options on the Grand View property other than the main lodge. Rooms book fast, so please book your room as soon as possible (beginning July 6th). There are a number of lodging options from private rooms to large cabins. Call reservations at <span style="white-space:nowrap;">1-800-432-3788</span> or visit their <a href="https://gc.synxis.com/rez.aspx?Hotel=53521&Chain=13083" target="_blank">website</a> to book your room.
              %h4 Holiday Inn Express Brainerd
              %p
                The Holiday Inn is located 10 miles south of Grand View off of Highway 371. Modern facilities include an indoor pool and wi-fi. Call reservations at 1-888-465-4329 or visit their <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/baxter/bwxbb/hoteldetail" target="_blank">website</a> to book your room.
              %h4 Personal Cabin Rentals
              %p
                If you are planning to stay with a large group, you could try personal home rental sites like <a href="http://www.vrbo.com/" target="_blank">vrbo.com</a>. This is an option for larger groups not wanting to stay on the Grand View property, but wanting a cabin-feel for their stay. Reference the address for Grand View Lodge to find a rental nearby.




        %section.registered
          %h2 Registry
          %p
            More info to come.



      .right-col
        %section.people

          %h2 About Us
          %p
            We met in 2009 at the University of Minnesota. We routinely sat next to each other in our International Business class, and Eric asked if I wanted to study for the final on the last day of class. I had of course already studied the entire semester’s worth of notes, but thought Eric was pretty cute so decided to meet him at the Purple Onion to “study” anyways. One month later we were practically together every day. Eric spent the next two summers working in North Dakota on his College Pro business, and I moved to Austin, Texas in 2011 for General Mills, but the distance never separated us. No matter the cost of the plane ticket or the time it took, we made an effort to see each other every three weeks. After the long wait, we are very happily together living in Southwest Minneapolis with our new dog Peanut. Having been to Ireland, England, and Croatia together, we love to travel, and look forward to exploring many new countries together. We think we were pretty lucky to find each other, and can’t wait for our life together ahead. Looking forward to celebrating with you next summer!

          %h2 Wedding Party
          %ul.links
            %li.active
              %a{:href => '#alli'}= image_tag "alli.png"
            %li
              %a{:href => '#christine'}= image_tag 'christine.jpg'
            %li
              %a{:href => '#kathryn'}= image_tag 'kathryn.jpg'
            %li
              %a{:href => '#kristina'}= image_tag 'kristina.jpg'
            %li.last
              %a{:href => '#amanda'}= image_tag "amanda.jpg"


            %li
              %a{:href => '#jeff'}= image_tag "bro.jpg"
            %li
              %a{:href => '#steve'}= image_tag "steve.jpg"
            %li
              %a{:href => '#drew'}= image_tag "drew.jpg"
            %li
              %a{:href => '#reed'}= image_tag "reed.jpg"
            %li.last
              %a{:href => '#justin'}= image_tag "justin.jpg"

          %ul.content
            %li#alli.active
              %h3 Alli Euson, <em>Maid of honor</em>
              %p
              My first memories with Carolyn involve a lot of bullying. Soon after I was born, Carolyn requested that we get rid of me.
              Unfortunately that didn’t work for her, but it didn’t take long for the tables to turn 12 years later when my best friend
              Alex and I often locked Carolyn in the closet. After a few more battles in high school, Carolyn soon became my steady
              ground and a person I can’t imagine living without. Whether it’s venting after a stressful day, biking on the Greenway,
              attending her Cooking 101 class, traveling around Spain, or a Friday night happy hour tour, I love to be with Carolyn. I
              will miss her as I move off to Austin, TX, but know that we have a lifetime of fun ahead of us.



            %li#kristina
              %h3 Kristina Redgrave
              %p
                Carolyn and I have known each other for almost 20 years. We first met when we were both living in Kentucky and were reunited
                at the skating rink in Minnesota -- we have been friends ever since! We have spent hours together forming our own nonprofit,
                going on adventures, cooking and eating new recipes, and as children reenacting American Girl Doll plays.

            %li#kathryn
              %h3 Kathryn Scharton
              %p
                Carolyn and I first met almost 15 years ago in 7th grade while taking downhill skiing lessons. At the time, I
                loved Carolyn's silliness and confidence and we became fast friends! Since then, we have grown even closer with many
                sleep overs, cooking lessons, ladies' nights, and travels punctuating our friendship. I can't wait for Carolyn and
                Mike's big day!

            %li#christine
              %h3 Christine Duquette
              %p
                It would be impossible to sum up my relationship with Carolyn into 3 sentences but I will try. I really got to know
                Carolyn when we were both boy magnets in the same ski club during middle school.  Since then I lived with CC for three years
                after college and became even closer. Even though I currently live in Philadelphia I know we will be close friends for
                life. I feel so fortunate to be a part of Mike and Carolyn's big day.

            %li#amanda
              %h3 Amanda Stoermer
              %p
                I first met Eus, 8 years ago, on the first day of our freshman year at DePauw University. Our rooms were directly next to
                each other and we had so much fun together that we decided to be roommates our sophomore year. Some of my favorite
                memories with Carolyn include learning to navigate frat parties together, her AXΩ initiation, random dance parties in our
                room, her visiting me in Spain and my visits to see her in MN. I loved witnessing the very beginning of Carolyn & Mike’s
                relationship when they would write to each other long distance and now I can’t wait to be there as they exchange their
                wedding vows!



            %li#jeff
              %h3 Jeff Frawley, <em>Best Man</em>
              %p
                I'm honored to say that I've known Mike the longest, back to when we were kids studying Mortal Kombat moves in a backyard
                tent and filming homemade movies using mannequins with exploding balloon heads. I'm happy to report that my brother's
                still just as weird and imaginative now as he was back then--plus now he has the most trustworthy beer recommendations. I
                currently live in Budapest, Hungary, and although he and I have lived in different places in recent years, I'm always so
                excited to see how awesome of a life he leads in Minnesota. In recent years we've enjoyed trips to Korea and New Zealand
                together, as well as great times at the cabin. I can't wait to be a part of his and Carolyn's wedding.


            %li#reed
              %h3 Reed Putnam
              %p
                Let me first start off by saying how much I adore Mike and Carolyn. They are great human beings and I am lucky to call
                them my friends. I first met Mike during 7th grade summer. We both had won trips to space camp down in Texas. Mike and I
                were paired up in a flight simulator machine and the rest is history!


            %li#drew
              %h3 Drew Smith
              %p
                Mike has been a close friend to me since we first met about 15 years
                ago. I have a lot of great memories with Mike: from being geeks in
                high school, going to cabbies, weekly pizza and beer outings, to
                karaoke in Tokyo. I remember Mike and Carolyn's initial crush in
                middle school and I was roommates with Mike during the rekindling in
                college. I love both Mike and Carolyn and I know how happy they are
                together. I'm honored to be part of their wedding.


            %li#justin
              %h3 Justin Chase
              %p
                I originally met Mike through mutual friends during his time at the UofM. Mike and I both share a love of computers, games
                and beer and we have spent many occasions enjoying all 3. I am not originally from Minnesota but I have been living here
                for 16 years and when I first moved from Duluth to the Twin Cities, along with my wife Brittney, Mike was among some of
                the first friends I made. Mike and Carolyn both came to our wedding a couple of years ago and I'm glad to now be going to
                theirs as well. I hope to see Mike at some beer festivals, paintball fields and the zombie pub crawl this year!


            %li#steve
              %h3 Steve Duquette
              %p
                I met Mike in 6th grade. We've been great friends ever since. Did a lot of goofy things as kids, from German club and
                starting our own band (HAT) to having an awesome time up north on the lake. Mike and Carolyn have been amazing friends to
                me and my (new) wife Christine and I'm certain they will be for many years to come!



            %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" }
            %script{ :src => "javascripts/app.js" }

